%table.table.table-striped
  %thead
    %th
      %h3= "#{type} Info"
  %tbody
    %tr
      %td Email Address: #{person.email_address}
    %tr
      %td Phone Number: #{person.phone_number}
    %tr
      %td Updated at: #{person.updated_at}
